<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/users_table.css">
    <link rel="stylesheet" href="css/form_style.css">
    <title>Users list</title>
</head>
<body>

    <%- include('partials/header') %>

    <h1 class = "UserListLable">Teams list</h1>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>TeamId</th>
                    <th>Title</th>
                    <th>Members</th>
                    <th>Date of creation</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < UsersTeams.length; i++) { %>
                    <%if (UsersTeams[i].Id == UsersTeams[i].Id) {%>
                    <tr>
                        <td><%=UsersTeams[i].TeamsId%></td>
                        <td><%=UsersTeams[i].Title%></td>
                        <td><a><%=UsersTeams[i].First_Name%> <%=UsersTeams[i].Last_Name%></a></td>
                        <td><%=UsersTeams[i].DateOfCreation?.toISOString().split('T')[0]%></td>
                    </tr>
                    <%}%>
                <%}%>
            </tbody>
        </table>

        <div class="form-container">
            <div class="login">
                <form name = "registration-form" class="contact-form" method="POST" action="/edit_teams">
                    <h2 class = "UserListLable">Edit Team</h2>
                    <input type="number" name="Id" id="Id" placeholder="Id" required>
                    <input type="text" name="Title" id="Title" placeholder="Title" required>
                    <textarea name="Description" placeholder="Description" cols="30" rows="10" required></textarea>
                    <input class="submit" type="submit" value = "Edit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>