<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/users_table.css">
    <link rel="stylesheet" href="css/form_style.css">
    <title>Users list</title>
</head>
<body>

    <%- include('partials/header') %>

    <h1 class = "UserListLable">Users list</h1>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < userList.length; i++) { %> 
                    <tr>
                        <td><%=userList[i].Id%></td>
                        <td><%=userList[i].Username%></td>
                        <td><%=userList[i].First_Name%> <%=userList[i].Last_Name%></td>
                    </tr>
                <%}%>
            </tbody>

        <table>
            <div class="form-container">
            <div class="login">
                <form name = "registration-form" class="contact-form" method="POST" action="/edit">
                    <h2 class = "UserListLable">Edit User</h2>
                    <input type="number" name="Id" id="Id" placeholder="Id" required>
                    <input type="text" name="Username" id="Username" placeholder="Username" required>
                    <input type="text" name="First_Name" id="First_Name" placeholder="First name" required>
                    <input type="text" name="Last_Name" id="Last_Name"  placeholder="Last name" required>
                    <input class="submit" type="submit" value = "Edit">
                </form>
            </div>

            <div class="login">
                <form name = "registration-form" class="contact-form" method="POST" action="/delete">
                    <h2 class = "UserListLable">Delete User</h2>
                    <input type="number" name="Id" id="Id" placeholder="Id" required>
                    <input class="submit" type="submit" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</body>
</html>